<tr>

    <td class="text-start"><input class="form-check-input me-3" type="checkbox" value="" id="flexCheckDefault">Capsicum
    </td>
    <td class="text-center">
        pcs
    </td>
    <td class="text-center">
        30
    </td>
    <td class="text-center">
        5
    </td>

    <td class="text-center">
        <a href="edit-menu-item.html"><i class="fa-solid fa-pen w-25"></i></a>
        <i class="fa-solid fa-trash-can ms-2 " data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
    </td>

</tr>