@model DAL.Models.User;
@{
    ViewData["Title"] = "UserProfile Page";
    Layout = "_Layout";
}
<div class="fw-bold mt-4">Admin Dashboard</div>

@section Scripts{
    @* Toaster Script  *@
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage", successMessage);
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>s
}