@model DAL.ViewModels.ForgotPasswordViewModel;
@{
    ViewData["Title"] = "ForgotPassword Page";
    Layout = "_LoginLayout";
    var Email = TempData["Email"];
}

<div class="container-fluid  p-0">
    <div class="login-container row   ">

        <!-- Image Section -->
        <div class="pizza-img-div col-md-6 d-none d-md-block">

            <img src="~/images/dominos_background.jpg" alt="Logo" class="pizza-img-tag img-fluid min-vh-100" />

        </div>


        <!-- Login Section -->
        <div
            class="login-main-div col-md-6 text-center text-md-start min-vh-100 d-flex flex-column align-content-center justify-content-center" style="background-color: rgb(207,233,243);">

            <!-- Logo -->
            <div class="d-flex align-items-center justify-content-center mb-4">
                <img src="~/images/logos/pizzashop_logo.png" alt="Logo" class="img-fluid" style="width: 50px;" /><span
                    class="logo-name">PIZZASHOP</span>
            </div>

            <div class="welcome-text user-text mb-3"> <span class="fw-semibold fs-2 mb-3">Forgot Password</span></div>
            <p class="text mb-2 fs-6">
                Enter your email and we'll send you a link to reset your password
            </p>

            <!-- Login Form-->
            <form method="post" action="ForgotPassword" class="login-form w-75 mx-auto ">

                <div class="pass-div mb-4 ">
                    <input asp-for="Email" type="email" class="form-control email-inp" id="email-inp"
                        placeholder="Email*" value=@Email required />
                    <span asp-validation-for="Email" class="validate text-danger ms-1 "></span>
                </div>

                <!-- Remember me and frgt pass section -->

                <div class=" d-grid">
                    <button class="login-btn btn solid-btn" type="submit">Send</button>
                </div>

                <div class="mt-3 d-flex justify-content-center align-content-center "><a
                        asp-action="VerifyUserLogin" asp-controller="UserLogin"
                        class="text-decoration-none text-center frgt-pass user-text">Back to Login</a>
                </div>

            </form>

        </div>
    </div>
</div>
@section Scripts {

@* Toaster Script  *@
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage", successMessage);
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}