@model DAL.ViewModels.ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword Page";
    Layout = "_LoginLayout";
}

<div class="container-fluid p-0 ">
    <div class="login-container row   ">

        <!-- Image Section -->
        <div class="pizza-img-div col-md-6 d-none d-md-block">

            <img src="~/images/dominos_background.jpg" alt="Logo" class="pizza-img-tag img-fluid min-vh-100" />

        </div>


        <!-- Login Section -->
        <div
            class="login-main-div col-md-6  text-md-start min-vh-100 d-flex flex-column align-content-center justify-content-center   ">

            <!-- Logo -->
            <div class="d-flex align-items-center justify-content-center mb-4">
                <img src="~/images/logos/pizzashop_logo.png" alt="Logo" class="img-fluid " style="width: 50px;" /><span
                    class="logo-name">PIZZASHOP</span>
            </div>

            <div class="user-text welcome-text mb-3"> <span class="fw-semibold fs-4">Reset Your Password</span></div>


            <!-- Login Form-->
            <form asp-action="ResetPassword" class="login-form w-75 mx-auto ">
                <input type="hidden" asp-for="Email" id="Email" />
                <div class="pass-div mb-4 ">
                    <input asp-for="Password" type="password" class="form-control d-inline pass-inp"
                        placeholder="New Password*" id="pass-inp" />
                    <i class="bi bi-eye-slash-fill" id="togglePassword"></i>
                    <span asp-validation-for="Password" class="validate text-danger ms-1"></span>
                </div>

                <div class="pass-div mb-4 ">
                    <input asp-for="ConfirmPassword" type="password" class="form-control d-inline pass-inp"
                        placeholder="Confirm New Password*" id="confirmPassword-inp" />
                    <i class="bi bi-eye-slash-fill" id="confirmTogglePassword"></i>
                    <span asp-validation-for="ConfirmPassword" class="validate text-danger ms-1"></span>
                </div>

                @* <span class="text-danger">@ViewBag.reset</span> *@

                <div class="d-grid mt-3">
                    <button class="login-btn btn solid-btn" type="submit">Submit</button>
                </div>
                <div class="text-center mt-3 fs-6"><a asp-action="VerifyUserLogin" asp-controller="UserLogin"
                        class="text-decoration-none text-center ms-3 user-text frgt-pass">
                        Back to Login</a></div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @* Toggle Password *@
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#pass-inp');


        if (togglePassword) {
            togglePassword.addEventListener('click', () => {

                const type = password
                    .getAttribute('type') === 'password' ?
                    'text' : 'password';
                password.setAttribute('type', type);
                togglePassword.classList.toggle('bi-eye-fill');
                togglePassword.classList.toggle('bi-eye-slash-fill');
            });
        }

        // Reset password page
        const ConfirmTogglePassword = document.querySelector('#confirmTogglePassword');
        const ConfirmPassword = document.querySelector('#confirmPassword-inp');


        if (ConfirmTogglePassword) {
            ConfirmTogglePassword.addEventListener('click', () => {

                const type = ConfirmPassword
                    .getAttribute('type') === 'password' ?
                    'text' : 'password';
                ConfirmPassword.setAttribute('type', type);
                ConfirmTogglePassword.classList.toggle('bi-eye-fill');
                ConfirmTogglePassword.classList.toggle('bi-eye-slash-fill');
            });
        }

    </script>

    @* Toaster Script *@
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage", successMessage);
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}