@model DAL.ViewModels.UserLoginViewModel;
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LoginLayout";
}

<div class="container-fluid " style="height:inherit;">
    <div class="login-container row " style="height:inherit;">

        <!-- Image Section -->
        <div class="pizza-img-div col-md-6 d-none d-md-block" style="height:inherit;">

            <img src="~/images/dominos_background.jpg" alt="Logo" class="pizza-img-tag img-fluid " style="height:inherit;" />

        </div>


        <!-- Login Section -->
        <div
            class="login-main-div col-md-6 text-center text-md-start d-flex flex-column align-content-center justify-content-center   " style="height:inherit;">

            <!-- Logo -->
            <div class="d-flex align-items-center justify-content-center mb-4">
                <img src="~/images/logos/pizzashop_logo.png" alt="Logo" class="img-fluid" style="width: 50px;" /><span
                    class="logo-name">PIZZASHOP</span>
            </div>

            <div class="welcome-text mb-3"> <span class="fw-bold fs-3">Welcome,</span></div>

            <!-- Login Form-->
            <form asp-action="VerifyUserLogin" class="login-form w-75 mx-auto ">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group pass-div mb-4 ">

                    <input asp-for="Email" type="email" id="Email" class="form-control d-inline border border-secondary email-inp"
                        placeholder="Email*" required />
                    <i class="bi bi-person-fill"></i>
                    <span asp-validation-for="Email" class="validate text-danger ms-1"></span>

                </div>

                <div class="form-group pass-div mb-4 ">
                    <input asp-for="Password" type="password" class="form-control d-inline border border-secondary " id="pass-inp"
                        placeholder="Password*" required />
                    <i class="bi bi-eye-slash-fill" id="togglePassword"></i>
                    <span asp-validation-for="Password" class="validate text-danger ms-1"></span>
                </div>

                <!-- Remember me and frgt pass section -->
                <div class="rememberme-div d-flex justify-content-between mb-4 p-0">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Remember_me" type="checkbox" id="flexCheckDefault">
                        <label class="mt-1" for="flexCheckDefault">Remember Me</label>
                    </div>
                    <a id="forgot-password" class="user-text text-decoration-none user-btn ms-3 ">Forgot Password?</a>
                </div>
                <div class=" d-grid">
                    <input value="Login" class="login-btn solid-btn btn btn-primary ms-0" type="submit" />
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@* Toggle Password Script  *@
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#pass-inp');

        if (togglePassword) {
            togglePassword.addEventListener('click', () => {

                const type = password
                    .getAttribute('type') === 'password' ?
                    'text' : 'password';
                password.setAttribute('type', type);
                togglePassword.classList.toggle('bi-eye-fill');
                togglePassword.classList.toggle('bi-eye-slash-fill');
            });
        }


    </script>

@* Toaster Script  *@
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            console.log("successMessage", successMessage);
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>

@* ForgotPassword script  *@
    <script>
            $(document).ready(function () {
                $("#forgot-password").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetEmail", "UserLogin")",
                        data: { "Email": $("#Email").val() },
                        success: function (response) {
                            window.location.href = "@Url.Action("ForgotPassword", "UserLogin")";
                            console.log("response");
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    });
                });
            });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}